h1 {
  text-align: center;
  block-size: fit-content;
  background-image: linear-gradient(to right, #29a19c, #a3f7bf);  
}
main {
    justify-content: left;
    list-style: none;
    width: 100%;
}
main li {
    display: inline;
    list-style-type: none;
}

main .active {
    border-color: #a3f7bf;
}

main a {
    list-style-type: none;
    color: black;
    border: 2px solid #4b6289;
}

main a:hover {
    border-color: aqua;
}
